.body {
  background: #272727;
  font-family:sans-serif;
  height: 2.5rem;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navMenu {
  top: 5px;
  left: 5px;
  transform: translate(5%, 25%);
  width:80%;
  height:5rem;
}

.navMenu .menu {
  color: #f6f4e6;
  text-decoration: none;
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.navMenu .menu:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .menu:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .menu:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(105px);
  transform: translateX(105px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .menu:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(193px);
  transform: translateX(193px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.footer {
  bottom: 0;
}