*{
    margin:0;
    padding: 0;
}

.viewPort {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: hsl(50, 22%, 21%);
    height: 100vh;
}

#particles-js {
    height: 100vh;
}

.main___containers {
    background: #fca31c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    aspect-ratio: 16/9;
    width: 55%;
    box-sizing: border-box;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box__container{
    border: solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    height: auto;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form___section {
    padding: 1rem;
}

.login__pannel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.logo__container{
    position: relative;
    margin-left: 35%;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:25%;
    height:70%;
}

.logo__container svg{
    opacity: 0.8;
}

.form___element {
    padding: 3px
}

.form___button___element {
    padding: 1rem;
}

.heading___text {
    background: #fff;
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid
}



.Background__home{
    background:url('../media/Image/bg2.png'),linear-gradient(rgb(228, 173, 173), rgb(196, 196, 108));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.midBox{
    background: #fff;
    width:60%;
    height: 55%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
}

.SignUp__Property{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
    max-height: 100px;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block__holder{
    border: solid 1px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    margin-left: 10px;
    height: 100%;
    width: 35%; 
}